# Note

## The DataFrame Data Structure

### Question 1

For the purchase records from the pet store, how would you get a list of all items which had been purchased (regardless of where they might have been purchased, or by whom)?

In [2]:
import pandas as pd

purchase_1 = pd.Series({"Name": "Chris",
                        "Item Purchased": "Dog Food",
                        "Cost": 22.50})
purchase_2 = pd.Series({"Name": "Kevyn",
                        "Item Purchased": "Kitty Litter",
                        "Cost": 2.50})
purchase_3 = pd.Series({"Name": "Vinod",
                        "Item Purchased": "Bird Seed",
                        "Cost": 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index = ["Store 1", "Store 1", "Store 2"])
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [4]:
df["Item Purchased"]

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

### Question 2

For the purchase records from the pet store, how would you update the DataFrame, applying a discount of 20% across all the values in the 'Cost' column?

In [6]:
import pandas as pd

purchase_1 = pd.Series({"Name": "Chris",
                        "Item Purchased": "Dog Food",
                        "Cost": 22.50})
purchase_2 = pd.Series({"Name": "Kevyn",
                        "Item Purchased": "Kitty Litter",
                        "Cost": 2.50})
purchase_3 = pd.Series({"Name": "Vinod",
                        "Item Purchased": "Bird Seed",
                        "Cost": 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index = ["Store 1", "Store 1", "Store 2"])
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [9]:
# Reduce cost by 20%
df["Cost"] *= 0.8
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  18.0
Store 1  Kevyn   Kitty Litter   2.0
Store 2  Vinod      Bird Seed   4.0

## DataFrame Indexing and Loading

### Question 1

Suppose we have a CSV file exercise.csv that looks like this:

Exercise CSV

Week 1 Exercises

```
| Exercise CSV     |               |                   |          |
|------------------|---------------|-------------------|----------|
| Week 1 Exercises |               |                   |          |
|------------------|---------------|-------------------|----------|
| Activity ID      | Activity Type | Activity Duration | Calories |
|------------------|---------------|-------------------|----------|
|  125             | Running       | 65                | 450      |
| 126              | Biking        | 40                | 280      |
| 127              | Running       | 90                | 850      |
| 128              | Walking       | 30                | 160      |
```

| Activity ID      | Activity Type | Activity Duration | Calories |
|------------------|---------------|-------------------|----------|
|  125             | Running       | 65                | 450      |
| 126              | Biking        | 40                | 280      |
| 127              | Running       | 90                | 850      |
| 128              | Walking       | 30                | 160      |

Which of the following would return a DataFrame with the columns = ['Activity Type', 'Activity Duration', 'Calories'] and index = [125, 126, 127, 128] with the name 'Activity ID'?

**Answer**

`pd.read_csv('exercise.csv', skiprows=2, index_col=0)`

## Querying a DataFrame

### Question 1

Write a query to return all of the names of people who bought products worth more than $3.00.

In [14]:
import pandas as pd

purchase_1 = pd.Series({"Name": "Chris",
                        "Item Purchased": "Dog Food",
                        "Cost": 22.50})
purchase_2 = pd.Series({"Name": "Kevyn",
                        "Item Purchased": "Kitty Litter",
                        "Cost": 2.50})
purchase_3 = pd.Series({"Name": "Vinod",
                        "Item Purchased": "Bird Seed",
                        "Cost": 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index = ["Store 1", "Store 1", "Store 2"])
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [12]:
df["Name"][df["Cost"] > 3.0]

Store 1    Chris
Store 2    Vinod
Name: Name, dtype: object

## Indexing Dataframes

### Question 1

Reindex the purchase records DataFrame to be indexed hierarchically, first by store, then by person. Name these indexes 'Location' and 'Name'. Then add a new entry to it with the value of:

Name: "Kevyn", Item Purchased: "Kitty Food", Cost: 3.00, Location: "Store 2".

In [30]:
import pandas as pd

purchase_1 = pd.Series({"Name": "Chris",
                        "Item Purchased": "Dog Food",
                        "Cost": 22.50})
purchase_2 = pd.Series({"Name": "Kevyn",
                        "Item Purchased": "Kitty Litter",
                        "Cost": 2.50})
purchase_3 = pd.Series({"Name": "Vinod",
                        "Item Purchased": "Bird Seed",
                        "Cost": 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index = ["Store 1", "Store 1", "Store 2"])
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [31]:
df = df.set_index([df.index, "Name"])
df.index.names = ["Location", "Name"]
df = df.append(pd.Series(data = {"Cost": 3.00, "Item Purchased": "Kitty Food"},
                         name = ("Store 2", "Kevyn")))
df

               Item Purchased  Cost
Location Name
Store 1  Chris       Dog Food  22.5
         Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0
         Kevyn     Kitty Food   3.0